.form-group {
  position: relative;
  background-color: #fff;
  border-radius: $box-border-radius;
  padding: 24px 20px;
  margin-top: 30px;

  &--small {
    margin-top: 10px;
  }

  &--with-tabs {
    padding-top: 0;
  }

  &--p0 {
    padding: 0;
  }
}
