.route-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0;

  &--separate {
    background-color: #fff;
    border-radius: $box-border-radius;
    padding-bottom: 24px;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
}
