@import "../../styles/variables";

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  min-height: 60px;
}

.sidebar-trigger {
  position: absolute;
  outline: none;
  top: calc(50% - 15px);
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: -15px;
  background-color: #fff;
  border: 2px solid #444;
  line-height: 64px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
  }
}

.main-layout {

  &__header-actions {
    display: flex;
    align-items: center;
    margin-left: auto;

    .ant-btn {
      margin-left: 20px;
    }
  }

  .ant-layout-header {
    position: fixed;
    padding: 0 24px;
    display: flex;
    background: #fff;
    transition: all 0.2s;
    z-index: 99;
  }

  &__wrapper {
    padding: 16px;
    margin-top: 64px;
    min-height: calc(100vh - 64px);
    background: #f1f1f1;
    transition: all 0.2s;
    position: relative;
  }

  &__content {
    min-height: calc(100% - 20px - 16px);
    padding: 16px 0 40px;
  }
}
